autostart
Code
create-next-app-nodejs
dconf
discord
gpick
gtk-2.0
gtk-3.0
menus
Mousepad
nextjs-nodejs
nitrogen
nvim
Postman
pulse
Slack
solaar
spotify
Thunar
vlc
xarchiver
xfce4
xfce4-dict
yay
droidcam
mimeapps.list
pavucontrol.ini